<div class="productsHome">
    <h2>
      Here are product details!
    </h2>

      <table>
        <tr>
            <td><img [src]="selectedProduct.url"></td>
            <td></td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
          <td><label class="col-sm-2 control-label">Title</label></td>
          <td>{{ selectedProduct.title }}</td>
        </tr>
        <tr><td>&nbsp;</td></tr>
        <tr>
            <td><label class="col-sm-2 control-label">Price</label></td>
            <td>{{ selectedProduct.price }}</td>
        </tr>
        <tr><td>&nbsp;</td></tr>

      </table>

</div>

